body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 62.5%;
}

.title {
  margin-top: 5rem;
  font-size: 3rem;
  color: #14213d;
}

.main-con {
  display: grid;
  grid-template-columns: 2fr 5fr;
  align-items: flex-start;
  width: 70%;
  margin-top: 5rem;
  margin-left: 50%;
  transform: translateX(-50%);
}

.menu-item {
  color: black;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  background-color: white;
  border: solid 4px white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu-con{
  display: flex;
  flex-direction: column;
}
.menu-item:hover, .active {
  border-left: solid 4px #617aec;
  color: #617aec;
}

section {
  text-align: left;
}

.job-title {
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
}

.company-name {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgba(128, 128, 128, 0.402);
  padding: 0.5rem;
  border-radius: 7px;
  display: inline-block;
  margin-top: 0.5rem;
  color: rgb(117, 117, 117);
}

.duration {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: rgb(117, 117, 117);
}

.job-description {
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 100;
  color: rgb(83, 83, 83);
}

.more-btn {
  background-color: rgb(5, 137, 5);
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 7px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-left: 50%;
  transform: translateX(-50%);
}

.loading {
  font-size: 2rem;
  margin-top: 10rem;
}


.job-description-con{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.icon{
  font-size: 1.5rem;
  color: green;
}

@media screen and (max-width: 800px){
  .main-con{
    grid-template-columns: 1fr;
    width: 90%;
  }

  .menu-con{
    flex-direction: row;
    justify-content: space-between;
  }
}